<div class="sec-one m-64" fxFlex="100%" fxLayout.gt-md="row" fxLayout="column" fxLayoutGap="16px">
  <div class="card-one" fxLayout="row" fxFlex="100%"
    fxFlex.gt-md="25%" fxLayoutAlign="start center" fxLayoutGap="10px">
    <div class="card-icon circle-success" fxLayoutAlign="center center">
      <mat-icon>verified_user</mat-icon>
    </div>
    <div class="card-content">
      <h5>$12121</h5>
      <p>
        Income
      </p>
    </div>
  </div>
  <div class="card-one" fxLayout="row" fxFlex="100%"
    fxFlex.gt-md="25%" fxLayoutAlign="start center" fxLayoutGap="10px">
    <div class="card-icon circle-primary" fxLayoutAlign="center center">
      <mat-icon>account_circle</mat-icon>
    </div>
    <div class="card-content">
      <h5>2690</h5>
      <p>
        Users
      </p>
    </div>
  </div>
  <div class="card-one" fxLayout="row" fxFlex="100%"
    fxFlex.gt-md="25%" fxLayoutAlign="start center" fxLayoutGap="10px">
    <div class="card-icon circle-accent" fxLayoutAlign="center center">
      <mat-icon>calendar_today</mat-icon>
    </div>
    <div class="card-content">
      <h5>March 2020</h5>
      <p>
        My birthday
      </p>
    </div>
  </div>
  <div class="card-one" fxLayout="row" fxFlex="100%"
    fxFlex.gt-md="25%" fxLayoutAlign="start center" fxLayoutGap="10px">
    <div class="card-icon circle-warn" fxLayoutAlign="center center">
      <mat-icon>alarm</mat-icon>
    </div>
    <div class="card-content">
      <h5>6540</h5>
      <p>
        pending
      </p>
    </div>
  </div>
</div>
