<div class="sec-three m-64" fxFlex="100%" fxLayout.gt-md="row" fxLayout="column" fxLayoutGap="20px">
    
   <div fxFlex.gt-sm="60%" fxFlex="100%">
       <div class="white-bg">
        <div  fxLayoutAlign="space-between center">
            <div class="heading">
              <h5>Projects of the month</h5>
            </div>
            <div class="heading">
              <h5>January</h5>
            </div>
          </div>
          <div>
            <ul class="schedule-list">
                <li class="person" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                    <div class="person-content ml-16" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="100px">
                        <h3>Assigned</h3>
                        <h3>Name</h3>
                        <h3>Priority</h3>
                        <h3>Budget</h3>
                      </div>
                </li>
                <li class="person" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                 
                  <div class="person-icon" fxLayoutAlign="center center">
                    <mat-icon>account_circle</mat-icon>
                  </div>
                  <div class="person-content">
                    <h3>Sunil joshi </h3>
                    <p>
                      web designer
                    </p>
                  </div>
                  <div class="person-content" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="100px">
                    <h3>admin</h3>
                    <h3>low</h3>
                    <h3>$39k</h3>
                  </div>

                </li>
                <li class="person" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                  <div class="person-icon" fxLayoutAlign="center center">
                    <mat-icon>account_circle</mat-icon>
                  </div>
                  <div class="person-content">
                    <h3>Sunil joshi </h3>
                    <p>
                      web designer
                    </p>
                  </div>
                  <div class="person-content" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="100px">
                    <h3>admin</h3>
                    <h3>low</h3>
                    <h3>$39k</h3>
                  </div>
                </li>
                <li class="person" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                  <div class="person-icon" fxLayoutAlign="center center">
                    <mat-icon>account_circle</mat-icon>
                  </div>
                  <div class="person-content">
                    <h3>Sunil joshi </h3>
                    <p>
                      web designer
                    </p>
                  </div>
                  <div class="person-content" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="100px">
                    <h3>admin</h3>
                    <h3>low</h3>
                    <h3>$39k</h3>
                  </div>
                </li>
                <li class="person" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                  <div class="person-icon" fxLayoutAlign="center center">
                    <mat-icon>account_circle</mat-icon>
                  </div>
                  <div class="person-content" fxLayout="column" fxLayoutAlign="center">
                    <h3>Sunil joshi </h3>
                    <p>
                      web designer
                    </p>
                  </div>
                  <div class="person-content" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="100px">
                    <h3>admin</h3>
                    <h3>low</h3>
                    <h3>$39k</h3>
                  </div>
                </li>
              </ul>
          </div>
       </div>
  
  </div> 
  <div fxFlex.gt-sm="40%" fxFlex="100%">
      <div class="blog-post">
          <div class="blog-post-img" [ngStyle]="{'background-image':'url('+blogImg+')'}"></div>
          <div class="blog-post-description">
              <h3 class="title">Lorem ipsum dolor sit amet.</h3>
              <span class="blog-tag">Technology</span>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem sit
                  deserunt assumenda rerum sed architecto consectetur ab, totam quas earum.</p>
              <div fxLayout="row" fxLayoutAlign="space-between center">
                  <a href="">Read more</a>
                  <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                      <mat-icon>share</mat-icon>
                  </button>
              </div>
          </div>
      </div>
  </div>
  
</div>
