<div class="sec-two m-64" fxFlex="100%" fxLayout.gt-md="row" fxLayout="column" fxLayoutGap="20px">
  <div class="schedule-block" fxLayout="column" fxFlex="100%" fxFlex.gt-md="35%">
    <div class="heading white-bg">
      <h5>Today's Schedule</h5>
      <p>check out your daily schedule</p>
    </div>
    <ul class="schedule-list">
      <li class="person" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
        <div class="person-icon" fxLayoutAlign="center center">
          <mat-icon>account_circle</mat-icon>
        </div>
        <div class="person-content">
          <h3>Meeting Today <span>5pm</span></h3>
          <p>
            you can write anything
          </p>
        </div>
      </li>
      <li class="person" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
        <div class="person-icon" fxLayoutAlign="center center">
          <mat-icon>account_circle</mat-icon>
        </div>
        <div class="person-content">
          <h3>Meeting Today <span>5pm</span></h3>
          <p>
            you can write anything
          </p>
        </div>
      </li>
      <li class="person" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
        <div class="person-icon" fxLayoutAlign="center center">
          <mat-icon>account_circle</mat-icon>
        </div>
        <div class="person-content">
          <h3>Meeting Today <span>5pm</span></h3>
          <p>
            you can write anything
          </p>
        </div>
      </li>
      <li class="person" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
        <div class="person-icon" fxLayoutAlign="center center">
          <mat-icon>account_circle</mat-icon>
        </div>
        <div class="person-content" fxLayout="column" fxLayoutAlign="center">
          <h3>Meeting Today <span>5pm</span></h3>
          <p>
            you can write anything
          </p>
          <div fxLayoutGap="10px">
            <button mat-stroked-button color="primary">Approve</button>
            <button mat-stroked-button color="warn">Refuse</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="sales-block" fxFlex="100%" fxFlex.gt-md="65%">
    <div class="white-bg" fxLayoutAlign="space-between center">
      <div class="heading">
        <h5>Sales Overview</h5>
        <p>Check the monthly sales</p>
      </div>
      <div class="heading">
        <h5>January</h5>
      </div>
    </div>
    <div fxLayoutAlign="space-between center">
      <div class="heading">
        <h4>March 2020</h4>
        <p>Report for this month</p>
      </div>
      <h3 class="cash">36,000$</h3>
    </div>

    <ul class="schedule-list1">
      <li class="person" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
        <div class="person-content" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="100px">
          <h3>#</h3>
          <h3>NAME</h3>
          <h3>STATUS</h3>
          <h3>DATE</h3>
          <h3>PRICE</h3>
        </div>
      </li>
      <li class="person" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
        <div class="person-content" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="100px">
            <h3>1</h3>
            <h3>admin</h3>
            <h3>sale</h3>
            <h3>april 18,2020</h3>
            <h3>$24</h3>
        </div>
      </li>
      <li class="person" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
        <div class="person-content" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="100px">
          <h3>1</h3>
            <h3>admin</h3>
            <h3>sale</h3>
            <h3>april 18,2020</h3>
            <h3>$24</h3>
        </div>
      </li>
      <li class="person" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
        <div class="person-content" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="100px">
          <h3>1</h3>
            <h3>admin</h3>
            <h3>sale</h3>
            <h3>april 18,2020</h3>
            <h3>$24</h3>
        </div>
      </li>
      <li class="person" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
        <div class="person-content" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="100px">
          <h3>1</h3>
            <h3>admin</h3>
            <h3>sale</h3>
            <h3>april 18,2020</h3>
            <h3>$24</h3>
        </div>
      </li>
      <li class="person" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
        <div class="person-content" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="100px">
          <h3>1</h3>
            <h3>admin</h3>
            <h3>sale</h3>
            <h3>april 18,2020</h3>
            <h3>$24</h3>
        </div>
      </li>
      <li class="person" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
        <div class="person-content" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="100px">
          <h3>1</h3>
            <h3>admin</h3>
            <h3>sale</h3>
            <h3>april 18,2020</h3>
            <h3>$24</h3>
        </div>
      </li>
      <li class="person" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
        <div class="person-content" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="100px">
          <h3>1</h3>
            <h3>admin</h3>
            <h3>sale</h3>
            <h3>april 18,2020</h3>
            <h3>$24</h3>
        </div>
      </li>
    </ul>
  </div>
</div>